 @media screen and (max-width: 341px){
    div>h2 {
        text-align: center;
        color: #B8860B;
        font-size: 105%;
        font-family: fantasy;
        letter-spacing: 0.8em;
        text-shadow: 2px 2px 2px #6495ED;
        margin-top: 1%;
    }
    section>img {
        width: 100%;
        height: auto;
        margin: 3%;
        background-color: #CD853F;
        border: 5px solid #A0522D;
        border-radius: 20px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

    }
    section {
         width: 100%;
         height: 50%;
         margin:auto;
       
    }
    section,
    input[type=radio] {
        display: none;
    }

    .input__slide_img1:checked~.div__slider>.section__slide_one,
    .input__slide_img2:checked~.div__slider>.section__slide_two,
    .input__slide_img3:checked~.div__slider>.section__slide_three,
    .input__slide_img4:checked~.div__slider>.section__slide_four,
    .input__slide_img5:checked~.div__slider>.section__slide_five,
    .input__slide_img6:checked~.div__slider>.section__slide_six,
    .input__slide_img7:checked~.div__slider>.section__slide_seven,
    .input__slide_img8:checked~.div__slider>.section__slide_eight,
    .input__slide_img9:checked~.div__slider>.section__slide_nine,
    .input__slide_img10:checked~.div__slider>.section__slide_ten {
        display: block;
        -webkit-transition: color 0.7s ease-in 0.3s;
        -o-transition: color 0.7s ease-in 0.3s;
        transition: color 0.7s ease-in 0.3s;

    }


    .slide_prev {
        height: 10px;
        width: 10px;
        border: 20px solid #4B0082;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent ;
        position: absolute;
        top: 55%;
        left: 5%;
    }

    .slide_next {
        height: 4px;
        width: 4px;
        border: 20px solid #4B0082 ;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        position: absolute;
        left: 85%;
        top: 55%;
    }

    .div__pins>label {
        height: 30px;
        width: 30px;
        border: 1px solid #BA55D3;
        border-radius: 50%;
        float: left;
        margin: 1%;
        margin-top: 3%;
        margin-left: 1%;
        cursor: pointer;
    }

    .input__slide_img1:checked~div .div__pins .pins_one,
    .input__slide_img2:checked~div .div__pins .pins_two,
    .input__slide_img3:checked~div .div__pins .pins_three,
    .input__slide_img4:checked~div .div__pins .pins_four,
    .input__slide_img5:checked~div .div__pins .pins_five,
    .input__slide_img6:checked~div .div__pins .pins_six,
    .input__slide_img7:checked~div .div__pins .pins_seven,
    .input__slide_img8:checked~div .div__pins .pins_eight,
    .input__slide_img9:checked~div .div__pins .pins_nine,
    .input__slide_img10:checked~div .div__pins .pins_ten {
        display: block;
        background: #C71585;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s
    }
.ws_bullets{
    height: auto;
    
}
.main_container{
    height:100%;
}
 
}


@media screen and (min-width: 341px)and (max-width:480px) {


    div>h2 {
        text-align: center;
        color: #B8860B;
        font-size: 105%;
        font-family: fantasy;
        letter-spacing: 0.8em;
        text-shadow: 2px 2px 2px #6495ED;
        margin-top: 1%;
    }
    section>img {
        width: 100%;
        height: auto;
        margin: 3%;
        background-color: #CD853F;
        border: 5px solid #A0522D;
        border-radius: 20px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

    }
    section {
         width: 100%;
         height: 50%;
          margin:auto;
       
    }
    section,
    input[type=radio] {
        display: none;
    }

    .input__slide_img1:checked~.div__slider>.section__slide_one,
    .input__slide_img2:checked~.div__slider>.section__slide_two,
    .input__slide_img3:checked~.div__slider>.section__slide_three,
    .input__slide_img4:checked~.div__slider>.section__slide_four,
    .input__slide_img5:checked~.div__slider>.section__slide_five,
    .input__slide_img6:checked~.div__slider>.section__slide_six,
    .input__slide_img7:checked~.div__slider>.section__slide_seven,
    .input__slide_img8:checked~.div__slider>.section__slide_eight,
    .input__slide_img9:checked~.div__slider>.section__slide_nine,
    .input__slide_img10:checked~.div__slider>.section__slide_ten {
        display: block;
        -webkit-transition: color 0.7s ease-in 0.3s;
        -o-transition: color 0.7s ease-in 0.3s;
        transition: color 0.7s ease-in 0.3s;

    }


    .slide_prev {
        height: 10px;
        width: 10px;
        border: 20px solid #4B0082;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent ;
        position: absolute;
        top: 70%;
        left: 5%;
    }

    .slide_next {
        height: 4px;
        width: 4px;
        border: 20px solid #4B0082 ;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        position: absolute;
        left: 85%;
        top: 70%;
    }

    .div__pins>label {
        height: 30px;
        width: 30px;
        border: 1px solid #BA55D3;
        border-radius: 50%;
        float: left;
        margin: 1%;
        margin-top: 3%;
        margin-left: 1%;
        cursor: pointer;
    }

    .input__slide_img1:checked~div .div__pins .pins_one,
    .input__slide_img2:checked~div .div__pins .pins_two,
    .input__slide_img3:checked~div .div__pins .pins_three,
    .input__slide_img4:checked~div .div__pins .pins_four,
    .input__slide_img5:checked~div .div__pins .pins_five,
    .input__slide_img6:checked~div .div__pins .pins_six,
    .input__slide_img7:checked~div .div__pins .pins_seven,
    .input__slide_img8:checked~div .div__pins .pins_eight,
    .input__slide_img9:checked~div .div__pins .pins_nine,
    .input__slide_img10:checked~div .div__pins .pins_ten {
        display: block;
        background: #C71585;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s
    }
.ws_bullets{
    height: auto;
    
}
.main_container{
    height:100%;
}
.footer{
    float:left;
    margin-top: 0%;
} 
}


@media screen and (min-width: 480px) and (max-width:740px) {

    
    div>h2 {
        text-align: center;
        color: #B8860B;
        font-size: 120%;
        font-family: fantasy;
        letter-spacing: 0.8em;
        text-shadow: 2px 2px 2px #6495ED;
        margin-top:2%;
    }


section>img {
    width: 100%;
    height: auto;
    margin: 3%;
    background-color: #CD853F;
    border: 5px solid #A0522D;
    border-radius: 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

section {
    height: 50%;
    width: 100%;
     margin:auto;
}

section,
input[type=radio] {
    display: none;
}

.input__slide_img1:checked~.div__slider>.section__slide_one,
.input__slide_img2:checked~.div__slider>.section__slide_two,
.input__slide_img3:checked~.div__slider>.section__slide_three,
.input__slide_img4:checked~.div__slider>.section__slide_four,
.input__slide_img5:checked~.div__slider>.section__slide_five,
.input__slide_img6:checked~.div__slider>.section__slide_six,
.input__slide_img7:checked~.div__slider>.section__slide_seven,
.input__slide_img8:checked~.div__slider>.section__slide_eight,
.input__slide_img9:checked~.div__slider>.section__slide_nine,
.input__slide_img10:checked~.div__slider>.section__slide_ten {
    display: block;
    -webkit-transition: color 0.7s ease-in 0.3s;
    -o-transition: color 0.7s ease-in 0.3s;
    transition: color 0.7s ease-in 0.3s;

}

.slide_prev {
    height: 10px;
    width: 10px;
    border: 20px solid #4B0082;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    top: 90%;
    left: 10%;
}

.slide_next {
    height: 4px;
    width: 4px;
    border: 20px solid #4B0082;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 90%;
    top: 90%;
}

.div__pins>label {
    height: 30px;
    width: 30px;
    border: 1px solid #BA55D3;
    border-radius: 50%;
    float: left;
    margin: 1%;
    margin-top: 3%;
    margin-left: 1%;
    cursor: pointer;
}

.input__slide_img1:checked~div .div__pins .pins_one,
.input__slide_img2:checked~div .div__pins .pins_two,
.input__slide_img3:checked~div .div__pins .pins_three,
.input__slide_img4:checked~div .div__pins .pins_four,
.input__slide_img5:checked~div .div__pins .pins_five,
.input__slide_img6:checked~div .div__pins .pins_six,
.input__slide_img7:checked~div .div__pins .pins_seven,
.input__slide_img8:checked~div .div__pins .pins_eight,
.input__slide_img9:checked~div .div__pins .pins_nine,
.input__slide_img10:checked~div .div__pins .pins_ten {
    display: block;
    background: #BA55D3;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}


}

@media screen and (min-width: 741px) and (max-width:1024px) {

  
    div>h2 {
        text-align: center;
        color: #B8860B;
        font-size: 155%;
        font-family: fantasy;
        letter-spacing: 0.8em;
        text-shadow: 2px 2px 2px #6495ED;
        margin-top:2%;
    }


section>img {
    width: 100%;
    height: 50%;
    margin: 3%;
    background-color: #CD853F;
    border: 5px solid #A0522D;
    border-radius: 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

section {
    height: 50%;
    width: 100%;
     margin:auto;
}

section,
input[type=radio] {
    display: none;
}

.input__slide_img1:checked~.div__slider>.section__slide_one,
.input__slide_img2:checked~.div__slider>.section__slide_two,
.input__slide_img3:checked~.div__slider>.section__slide_three,
.input__slide_img4:checked~.div__slider>.section__slide_four,
.input__slide_img5:checked~.div__slider>.section__slide_five,
.input__slide_img6:checked~.div__slider>.section__slide_six,
.input__slide_img7:checked~.div__slider>.section__slide_seven,
.input__slide_img8:checked~.div__slider>.section__slide_eight,
.input__slide_img9:checked~.div__slider>.section__slide_nine,
.input__slide_img10:checked~.div__slider>.section__slide_ten {
    display: block;
    -webkit-transition: color 0.7s ease-in 0.3s;
    -o-transition: color 0.7s ease-in 0.3s;
    transition: color 0.7s ease-in 0.3s;

}

.slide_prev {
    height: 10px;
    width: 10px;
    border: 20px solid #4B0082;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    top: 160%;
    left: 10%;
}

.slide_next {
    height: 4px;
    width: 4px;
    border: 20px solid #4B0082;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 90%;
    top: 160%;
}

.div__pins>label {
    height: 30px;
    width: 30px;
    border: 1px solid #BA55D3;
    border-radius: 50%;
    float: left;
    margin: 1%;
    margin-top: 3%;
    margin-left: 1%;
    cursor: pointer;
}

.input__slide_img1:checked~div .div__pins .pins_one,
.input__slide_img2:checked~div .div__pins .pins_two,
.input__slide_img3:checked~div .div__pins .pins_three,
.input__slide_img4:checked~div .div__pins .pins_four,
.input__slide_img5:checked~div .div__pins .pins_five,
.input__slide_img6:checked~div .div__pins .pins_six,
.input__slide_img7:checked~div .div__pins .pins_seven,
.input__slide_img8:checked~div .div__pins .pins_eight,
.input__slide_img9:checked~div .div__pins .pins_nine,
.input__slide_img10:checked~div .div__pins .pins_ten {
    display: block;
    background: #BA55D3;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}


}

@media screen and (min-width: 1024px) and (max-width:1200px) {


    div>h2 {
        text-align: center;
        color: #B8860B;
        font-size: 185%;
        font-family: fantasy;
        letter-spacing: 0.8em;
        text-shadow: 2px 2px 2px #6495ED;
        margin-top: 2%;
    }
    section>img {
        width: 100%;
        height: auto;
        margin:3%;
        background-color: #CD853F;
        border: 5px solid #A0522D;
        border-radius: 20px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

    }
    section {
        height: 50%;
        width: 100%;
         margin:auto;
    }

    section,
    input[type=radio] {
        display: none;
    }

    .input__slide_img1:checked~.div__slider>.section__slide_one,
    .input__slide_img2:checked~.div__slider>.section__slide_two,
    .input__slide_img3:checked~.div__slider>.section__slide_three,
    .input__slide_img4:checked~.div__slider>.section__slide_four,
    .input__slide_img5:checked~.div__slider>.section__slide_five,
    .input__slide_img6:checked~.div__slider>.section__slide_six,
    .input__slide_img7:checked~.div__slider>.section__slide_seven,
    .input__slide_img8:checked~.div__slider>.section__slide_eight,
    .input__slide_img9:checked~.div__slider>.section__slide_nine,
    .input__slide_img10:checked~.div__slider>.section__slide_ten {
        display: block;
        -webkit-transition: color 0.7s ease-in 0.3s;
        -o-transition: color 0.7s ease-in 0.3s;
        transition: color 0.7s ease-in 0.3s;

    }


    .slide_prev {
        height: 10px;
        width: 10px;
        border: 20px solid #4B0082;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
        position: absolute;
        top: 200%;
        left: 10%;
    }

    .slide_next {
        height: 4px;
        width: 4px;
        border: 20px solid #4B0082;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        position: absolute;
        left: 90%;
        top: 200%;
    }

    .div__pins>label {
        height: 30px;
        width: 30px;
        border: 1px solid #BA55D3;
        border-radius: 50%;
        float: left;
        margin: 1%;
        margin-top: 3%;
        margin-left: 1%;
        cursor: pointer;
    }

    .input__slide_img1:checked~div .div__pins .pins_one,
    .input__slide_img2:checked~div .div__pins .pins_two,
    .input__slide_img3:checked~div .div__pins .pins_three,
    .input__slide_img4:checked~div .div__pins .pins_four,
    .input__slide_img5:checked~div .div__pins .pins_five,
    .input__slide_img6:checked~div .div__pins .pins_six,
    .input__slide_img7:checked~div .div__pins .pins_seven,
    .input__slide_img8:checked~div .div__pins .pins_eight,
    .input__slide_img9:checked~div .div__pins .pins_nine,
    .input__slide_img10:checked~div .div__pins .pins_ten {
        display: block;
        background: #BA55D3;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s
    }


}

@media screen and (min-width: 1200px) {
   
    div>h2 {
        text-align: center;
        color: #B8860B;
        font-size: 195%;
        font-family: fantasy;
        letter-spacing: 0.8em;
        text-shadow: 2px 2px 2px #6495ED;
        margin-top: 3%;
    }
    section>img {
        width: 100%;
        height: 50%;
        margin: 3%;
        background-color: #CD853F;
        border: 5px solid #A0522D;
        border-radius: 20px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

    }
    section {
        height: 50%;
        width: 100%;
         margin:auto;
    }

    section,
    input[type=radio] {
        display: none;
        
    }

    .input__slide_img1:checked~.div__slider>.section__slide_one,
    .input__slide_img2:checked~.div__slider>.section__slide_two,
    .input__slide_img3:checked~.div__slider>.section__slide_three,
    .input__slide_img4:checked~.div__slider>.section__slide_four,
    .input__slide_img5:checked~.div__slider>.section__slide_five,
    .input__slide_img6:checked~.div__slider>.section__slide_six,
    .input__slide_img7:checked~.div__slider>.section__slide_seven,
    .input__slide_img8:checked~.div__slider>.section__slide_eight,
    .input__slide_img9:checked~.div__slider>.section__slide_nine,
    .input__slide_img10:checked~.div__slider>.section__slide_ten {
        display: block;
        -webkit-transition: color 0.7s ease-in 0.3s;
        -o-transition: color 0.7s ease-in 0.3s;
        transition: color 0.7s ease-in 0.3s;

    }

    .slide_prev {
        height: 10px;
        width: 10px;
        border: 20px solid #4B0082;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
        position: absolute;
        top: 140%;
        left: 10%;
    }

    .slide_next {
        height: 4px;
        width: 4px;
        border: 20px solid #4B0082;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        position: absolute;
        left: 90%;
        top: 140%;
    }

    .div__pins>label {
        height: 30px;
        width: 30px;
        border: 1px solid #BA55D3;
        border-radius: 50%;
        float: left;
        margin: 1%;
        margin-top: 1%;
        margin-left: 1%;
        cursor: pointer;
    }

    .input__slide_img1:checked~div .div__pins .pins_one,
    .input__slide_img2:checked~div .div__pins .pins_two,
    .input__slide_img3:checked~div .div__pins .pins_three,
    .input__slide_img4:checked~div .div__pins .pins_four,
    .input__slide_img5:checked~div .div__pins .pins_five,
    .input__slide_img6:checked~div .div__pins .pins_six,
    .input__slide_img7:checked~div .div__pins .pins_seven,
    .input__slide_img8:checked~div .div__pins .pins_eight,
    .input__slide_img9:checked~div .div__pins .pins_nine,
    .input__slide_img10:checked~div .div__pins .pins_ten {
        display: block;
        background:#BA55D3 ;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s
    }
}