/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* конец кода сброса стилей браузера */

 @media screen and (min-width: 320px)and  (max-width:480px){
     html{
         background-color: rgb(192,192,192);
}

.header{ 
background-color: #f8d;
border: 3px solid #8b008b;
box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
border-radius: 15px;
width: 98%;
height:10%;
margin-top: 4%;
margin-left: 0.3%;
margin-right: 2%;
padding: 2%;
position: relative;
}
 .header img {
     width:25%;
     
 }
 
        div > h1 {
  position:absolute; 
  top:40%;
  left:26%;
  font-size:48%;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing:.5em;
  word-spacing: 2px;
  color: #191970;
  text-shadow:2px 2px 1px white;
   transition: all 1s ease-in-out;
    text-align:center;
    transform: skewY(-12deg);
}
.header > .header_aside{
    width:24%;
    height:62%;
    background-color:#FFD6E9;
    border:1px solid #EE82EE;
    border-radius:10px;
    padding:1%;
    padding-top: 0.8%;
    padding-bottom:2.3%;
    margin:-0.9%;
    margin-right: 1%;
    position: absolute;
    top: 18%;
    right: 3%;
    line-height:2em;
    color: #4B0082;
    font-size:70%;
    text-align: center;
    }

.header_aside{
    width:23%;
    height:10%;
    background-color: #FFE4E1;
    border:1px solid #FF00FF;
    border-radius:10px;
    text-align: center;
   }
.header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }

 .header_aside .fonenv {
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 }
 
 .article_one{
     width:43%;
     height:50%;
     float:left;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed #8B0000;
 }
 .mainNav {
  margin: 5%;
  list-style: none;
  width: 75%;
}

.mainNav li:last-of-type a {
  border-bottom: 1px dashed  #8B0000; 
}
.mainNav a {
  color: #8A2BE2;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom:1px  dashed #8B0000;
  font-weight:bold;
  padding:1%;
   display: block;
  background-color: #DEB887;;
  }
.mainNav a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_two{
     width:43%;
     height:50%;
     float:right;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed  #8B0000;
 }

.mainAv {
   margin: 5%;
    list-style: none;
  width: 75%;
}
.mainAv a {
color: #191970;
font-size : 0.74em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:3%;
display: block; text-align: center;
background-color: #DEB887;
font-weight:bold;
     
    
}
.mainAv a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_three{
     width:98%;
     height:30%;
     float:left;
     margin: 1%;
     background-color: #DDA0DD;
     border: 2px dotted #8B0000;
     border-radius: 10px;
     color: #2E8B57;
 }

.mainV a {
color: #483d8B;
font-size : 0.8em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:1%;
display: block; text-align: center;
font-weight:bold;
     
    
}
ol {
	padding-left: 1.4em;
	list-style: square;

}
 
.footer{
width:98%;
height: 10%;
border: 3px solid rgb(192,192,192);
float:left;
margin-left: 1%;
}
.footer > div:nth-of-type(1),
.footer > div:nth-of-type(2),
.footer > div:nth-of-type(3){
    display:inline-block;
    margin-left: 10%;
    
 
}
}

  
  @media screen and (min-width: 480px) and (max-width:740px){
  
html {
background-color: rgb(192,192,192);
}

.header{ 
background-color: #f8d;
border: 3px solid #8b008b;
box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
border-radius: 15px;
width: 98%;
height:8%;
margin-top: 4%;
margin-left: 0.3%;
margin-right: 2%;
padding: 2%;
position: relative;
}

div >  h1{
position:absolute;
  top:40%;
  left:26%;
  font-size:75%;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing:.5em;
  word-spacing: 2px;
  color: #191970;
  text-shadow:2px 2px 1px white;
   transition: all 1s ease-in-out;
    text-align:center;
    transform: skewY(-12deg);
}  
.header > .header_aside{
    width:22%;
    height:42%;
    background-color:#FFD6E9;
    border:1px solid #EE82EE;
    border-radius:10px;
    padding:1.5%;
    padding-top: 0.8%;
    padding-bottom:2.3%;
    margin:-0.9%;
    margin-right: 1%;
    position: absolute;
    top: 18%;
    right: 3%;
    line-height:2.3em;
    color: #4B0082;
    font-size:95%;
    text-align: center;
    }
    
.header_aside .fontel {
      background-image: url("phone.png");background-repeat: no-repeat;
      width:15px; 
      height: 15px;display: inline-block;
      padding-right: 125px;
         }
.header_aside > .one{
    position: absolute;
   top:-30px; left:15%;padding-right: 15%;
  padding-bottom: 150%;
  
}
 .header_aside .fonenv{
     background-image: url("envelope.png");background-repeat: no-repeat;
      width:15px;
      height: 15px;display: inline-block;
      padding-right: 5%;
 } 
  .header_aside > .two{
  position:absolute;
  top:50%; left:15%;
  } 

 .article_one{
     width:43%;
     height:50%;
     float:left;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed #8B0000;
 }
 .mainNav {
  margin: 5%;
  list-style: none;
  width: 75%;
}

.mainNav li:last-of-type a {
  border-bottom: 1px dashed  #8B0000; 
}
.mainNav a {
  color: #8A2BE2;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom:1px  dashed #8B0000;
  font-weight:bold;
  padding:1%;
   display: block;
  background-color: #DEB887;;
  }
.mainNav a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_two{
     width:43%;
     height:50%;
     float:right;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed  #8B0000;
 }

.mainAv {
   margin: 5%;
    list-style: none;
  width: 75%;
}
.mainAv a {
color: #191970;
font-size : 0.74em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:3%;
display: block; text-align: center;
background-color: #DEB887;
font-weight:bold;
     
    
}
.mainAv a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_three{
     width:98%;
     height:30%;
     float:left;
     margin:1%;
     background-color: #DDA0DD;
     border: 2px dotted #8B0000;
     border-radius: 10px;
     color: #2E8B57;
 }

.mainV a {
color: #483d8B;
font-size : 0.8em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:1%;
display: block; text-align: center;
font-weight:bold;
     
    
}
ol {
	padding-left: 1.4em;
	list-style: square;

}

.footer{
width:98%;
height: 10%;
border: 3px solid rgb(192,192,192);
float:left;
margin-left: 20%;
}
.footer > div:nth-of-type(1),
.footer > div:nth-of-type(2),
.footer > div:nth-of-type(3){
    display:inline-block;
    margin-left: 15%;
}
      
  }
 @media screen and (min-width: 740px) and (max-width:1024px){
      html {
background-color: rgb(192,192,192);
}

.header{ 
background-color: #f8d;
border: 3px solid #8b008b;
box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
border-radius: 15px;
width: 98%;
height:10%;
margin-top: 4%;
margin-left: 0.3%;
margin-right: 2%;
padding: 2%;
position: relative;
}
        div > h1 {
  position:absolute;
  top:40%;
  left:25%;
  font-size:105%;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing:.7em;
  word-spacing: 2px;
  color: #191970;
  text-shadow:2px 2px 1px white;
   transition: all 1s ease-in-out;
    text-align:center;
    transform: skewY(-12deg);
}
.header > .header_aside{
    width:22%;
    height:62%;
    background-color:#FFD6E9;
    border:1px solid #EE82EE;
    border-radius:10px;
    padding:1.5%;
    padding-top: 0.8%;
    padding-bottom:2.3%;
    margin:-0.9%;
    margin-right: 1%;
    position: absolute;
    top: 13%;
    right: 1%;
    line-height:3.3em;
    color: #4B0082;
    
    }
    
.header_aside{
    width:23%;
    height:8%;
    background-color: #FFE4E1;
    border:1px solid #FF00FF;
    border-radius:10px;
    text-align: center;
   }
   
 div > .header_aside {
      font-size: 0.9em;
    }
    
    .header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }
.header_aside > div:nth-of-type(1){
  position:absolute;
  top:10%; left:30%;
  
}
  .header_aside .fonenv{
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
  
  .header_aside > div:nth-of-type(2){
  position:absolute;
  top:50%; left:30%;

} 
 .article_one{
     width:43%;
     height:50%;
     float:left;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed #8B0000;
 }
 .mainNav {
  margin: 5%;
  list-style: none;
  width: 75%;
}

.mainNav li:last-of-type a {
  border-bottom: 1px dashed  #8B0000; 
}
.mainNav a {
  color: #8A2BE2;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom:1px  dashed #8B0000;
  font-weight:bold;
  padding:1%;
   display: block;
  background-color: #DEB887;;
  }
.mainNav a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_two{
     width:43%;
     height:50%;
     float:right;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed  #8B0000;
 }

.mainAv {
   margin: 5%;
    list-style: none;
  width: 75%;
}
.mainAv a {
color: #191970;
font-size : 0.74em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:3%;
display: block; text-align: center;
background-color: #DEB887;
font-weight:bold;
     
    
}
.mainAv a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_three{
     width:98%;
     height:30%;
     float:left;
     margin: 1%;
     background-color: #DDA0DD;
     border: 2px dotted #8B0000;
     border-radius: 10px;
     color: #2E8B57;
 }

.mainV a {
color: #483d8B;
font-size : 0.8em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:1%;
display: block; text-align: center;
font-weight:bold;
     
    
}
ol {
	padding-left: 1.4em;
	list-style: square;

}  
  
.footer{
width:98%;
height: 10%;
border: 3px solid rgb(192,192,192);
float:left;
margin-left: 20%;
}
.footer > div:nth-of-type(1),
.footer > div:nth-of-type(2),
.footer > div:nth-of-type(3){
    display:inline-block;
    margin-left: 15%;
}
 }
  
@media screen and (min-width: 1024px) and (max-width:1200px){
  html {
background-color: rgb(192,192,192);
}

.header{ 
background-color: #f8d;
border: 3px solid #8b008b;
box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
border-radius: 15px;
width: 98%;
height:10%;
margin-top: 4%;
margin-left: 0.3%;
margin-right: 2%;
padding: 2%;
position: relative;
}
        div > h1 {
  position:absolute;
  top:40%;
  left:17%;
  font-size:105%;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing:.7em;
  word-spacing: 2px;
  color: #191970;
  text-shadow:2px 2px 1px white;
   transition: all 1s ease-in-out;
    text-align:center;
    transform: skewY(-12deg);
}
.header > .header_aside{
    width:22%;
    height:62%;
    background-color:#FFD6E9;
    border:1px solid #EE82EE;
    border-radius:10px;
    padding:1.5%;
    padding-top: 0.8%;
    padding-bottom:2.3%;
    margin:-0.9%;
    margin-right: 1%;
    position: absolute;
    top: 13%;
    right: 1%;
    line-height:3.3em;
    color: #4B0082;
    
    }
    
.header_aside{
    width:23%;
    height:8%;
    background-color: #FFE4E1;
    border:1px solid #FF00FF;
    border-radius:10px;
    text-align: center;
   }
   
   .header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }
 div > .header_aside {
      font-size: 0.9em;
    }
.header_aside > div:nth-of-type(1){
  position:absolute;
  top:10%; left:30%;
  
}

.header_aside .fonenv{
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
  .header_aside > div:nth-of-type(2){
  position:absolute;
  top:50%; left:30%;
 
}  
.article_one{
     width:43%;
     height:50%;
     float:left;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed #8B0000;
 }
 .mainNav {
  margin: 5%;
  list-style: none;
  width: 75%;
}

.mainNav li:last-of-type a {
  border-bottom: 1px dashed  #8B0000; 
}
.mainNav a {
  color: #8A2BE2;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom:1px  dashed #8B0000;
  font-weight:bold;
  padding:1%;
   display: block;
  background-color: #DEB887;;
  }
.mainNav a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_two{
     width:43%;
     height:50%;
     float:right;
     margin:2%;
     margin-top: 5%;
     background-color: #DEB887;
     border: 2px dashed  #8B0000;
 }

.mainAv {
   margin: 5%;
    list-style: none;
  width: 75%;
}
.mainAv a {
color: #191970;
font-size : 0.74em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:3%;
display: block; text-align: center;
background-color: #DEB887;
font-weight:bold;
     
    
}
.mainAv a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_three{
     width:98%;
     height:30%;
     float:left;
     margin: 1%;
     background-color: #DDA0DD;
     border: 2px dotted #8B0000;
     border-radius: 10px;
     color: #2E8B57;
 }

.mainV a {
color: #483d8B;
font-size : 0.8em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:1%;
display: block; text-align: center;
font-weight:bold;
     
    
}
ol {
	padding-left: 1.4em;
	list-style: square;

}  
.footer{
width:98%;
height: 10%;
border: 3px solid rgb(192,192,192);
float:left;
margin-left: 20%;
}
.footer > div:nth-of-type(1),
.footer > div:nth-of-type(2),
.footer > div:nth-of-type(3){
    display:inline-block;
    margin-left: 15%;
}
 }
  
  
@media screen and (min-width: 1200px){
     html {
background-color: rgb(192,192,192);
}

.header{ 
background-color: #f8d;
border: 3px solid #8b008b;
box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
border-radius: 15px;
width: 98%;
height:10%;
margin-top: 4%;
margin-left: 0.3%;
margin-right: 2%;
padding: 2%;
position: relative;
}
  
  .header img {
     width:15%;
     
 }
        div > h1 {
  position:absolute;
  top:40%;
  left:27%;
  font-size:125%;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing:0.7em;
  word-spacing: 2px;
  color: #191970;
  text-shadow:2px 2px 1px white;
   transition: all 1s ease-in-out;
    transform: skewY(-12deg);
    text-align:center;
    }
.header > .header_aside{
    width:22%;
    height:62%;
    background-color:#FFD6E9;
    border:1px solid #EE82EE;
    border-radius:10px;
    padding:1.5%;
    padding-top: 0.8%;
    padding-bottom:2.3%;
    margin:-0.9%;
    margin-right: 1%;
    position: absolute;
    top: 13%;
    right: 1%;
    line-height:3.3em;
    color: #4B0082;
    
    }
    
.header_aside{
    width:23%;
    height:8%;
    background-color: #FFE4E1;
    border:1px solid #FF00FF;
    border-radius:10px;
    text-align: center;
   }
   .header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }
 div > .header_aside {
      font-size: 1.9em;
    }
    
.header_aside > div:nth-of-type(1){
  position:absolute;
  top:10%; left:30%;
  
}

.header_aside .fonenv{
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
  .header_aside > div:nth-of-type(2){
  position:absolute;
  top:50%; left:30%;
  }
  
  .article_one{
     width:43%;
     height:50%;
     float:left;
     margin:2%;
     margin-top: 10%;
     background-color: #DEB887;
     border: 2px dashed #8B0000;
 }
 .mainNav {
  margin: 5%;
  list-style: none;
  width: 75%;
}

.mainNav li:last-of-type a {
  border-bottom: 1px dashed  #8B0000; 
}
.mainNav a {
  color: #8A2BE2;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom:1px  dashed #8B0000;
  font-weight:bold;
  padding:1%;
   display: block;
  background-color: #DEB887;;
  }
.mainNav a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_two{
     width:43%;
     height:50%;
     float:right;
     margin:2%;
     margin-top:5%;
     background-color: #DEB887;
     border: 2px dashed  #8B0000;
 }

.mainAv {
   margin: 5%;
    list-style: none;
  width: 75%;
}
.mainAv a {
color: #191970;
font-size : 0.74em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:3%;
display: block; text-align: center;
background-color: #DEB887;
font-weight:bold;
     
    
}
.mainAv a:hover {
  font-weight: bold;
  background-color: #B2F511;
  
}
.article_three{
     width:80%;
     height:30%;
     float:left;
     margin-left:10%;
     background-color: #DDA0DD;
     border: 2px dotted #8B0000;
     border-radius: 10px;
     color: #2E8B57;
 }

.mainV a {
color: #483d8B;
font-size : 0.8em;
text-transform: uppercase;
text-decoration: none;
border-bottom:1px  dashed #8B0000; 
padding:1%;
display: block; text-align: center;
font-weight:bold;
     
    
}
ol {
	padding-left: 1.4em;
	list-style: square;

}

.footer{
width:98%;
height: 10%;
border: 3px solid rgb(192,192,192);
float:left;
margin-left: 20%;
}
.footer > div:nth-of-type(1),
.footer > div:nth-of-type(2),
.footer > div:nth-of-type(3){
    display:inline-block;
    margin-left: 20%;
}
 
}    
  
  
  
  
  
  
  
  
  
