/* сброс стилей браузера */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* конец кода сброса стилей браузера */

@media screen and (min-width:320px) and (max-width:480px) {
    html {
        background-image: linear-gradient(35deg, #778899, #708090, #A9A9A9, #D8BFD8);
    }

    .header {
        background-image: linear-gradient(35deg, #ee82ee 20%, #b8bfd8 40%, #AFEEEE 60%, #A9A9A9, #708090);
        border: 3px solid #8b008b;
        box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
        border-radius: 15px;
        width: 98%;
        height: 10%;
        margin-top: 4%;
        margin-left: 0.3%;
        margin-right: 2%;
        padding: 2%;
        position: relative;
    }
    div>h1 {
        position: absolute;
        top: 40%;
        left: 26%;
        font-size: 45%;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        letter-spacing: .5em;
        word-spacing: 2px;
        color: #191970;
        text-shadow: 2px 2px 1px white;
        transition: all 1s ease-in-out;
        text-align: center;
        transform: skewY(-12deg);
    }
    .header>.header_aside {
        width: 22%;
        height: 62%;
        background-color: #FFD6E9;
        border: 1px solid #EE82EE;
        border-radius: 10px;
        padding: 1.5%;
        padding-top: 0.8%;
        padding-bottom: 2.3%;
        margin: -0.9%;
        margin-right: 1%;
        position: absolute;
        top: 13%;
        right: 3%;
        line-height: 3.3em;
        color: #4B0082;
        font-size: 55%;

    }

    .header_aside {
        width: 23%;
        height: 8%;
        background-color: #FFE4E1;
        border: 1px solid #FF00FF;
        border-radius: 10px;
        text-align: center;
    }
.header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }

 .header_aside .fonenv {
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
    .header_aside>div:nth-of-type(1) {
        position: absolute;
        top: 10%;
        left: 25%;

    }
    .header_aside>div:nth-of-type(2) {
        position: absolute;
        top: 30%;
        left: 25%;

    }
    h2 {
        text-align: center;
        font-size: large;
        color: #4169E1;
        font-family: fantasy;
        padding: 2%;

    }
    .article {
        width: 100%;
        height: auto;
        text-align: left;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 1%;
    }
    .img {
        width: 140px;
        border-radius: 25px;
        padding-right: 1.5%;
    }
    .article h3 {
        text-align: center;
        color: #8b4513;
        padding: 1%;
        font-size: medium;
        text-shadow: 0px 2px 3px #ffa07a;
    }

    .article p {
        width: 100%;
        padding: 2% 2% 2% -2%;
    }

    .footer {
        display: none;
        width: 98%;
        height: 10%;
        position: absolute;
        top: 185%;
        margin-left: 1%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(1) {
        margin-left: 12%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(2) {
        margin-left: 42%;
        margin-top: -13%;

    }
    .footer>div:nth-of-type(3) {
        margin-left: 74%;
        margin-top: -10%;

    }
    .article__two,
    .article__three,
    .article__four,
    .article__five {
        height: 0;
        display: none;
    }


}

@media screen and (min-width: 480px) and (max-width:750px) {
    html {
        background-image: linear-gradient(35deg, #778899, #708090, #A9A9A9, #D8BFD8);
    }

    .header {
        background-image: linear-gradient(35deg, #ee82ee 20%, #b8bfd8 40%, #AFEEEE 60%, #A9A9A9, #708090);
        border: 3px solid #8b008b;
        box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
        border-radius: 15px;
        width: 98%;
        height: 10%;
        margin-top: 4%;
        margin-left: 0.3%;
        margin-right: 2%;
        padding: 2%;
        position: relative;
    }
    div>h1 {
        position: absolute;
        top: 40%;
        left: 26%;
        font-size: 45%;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        letter-spacing: .5em;
        word-spacing: 2px;
        color: #191970;
        text-shadow: 2px 2px 1px white;
        transition: all 1s ease-in-out;
        text-align: center;
        transform: skewY(-12deg);
    }
    .header>.header_aside {
        width: 22%;
        height: 62%;
        background-color: #FFD6E9;
        border: 1px solid #EE82EE;
        border-radius: 10px;
        padding: 1.5%;
        padding-top: 0.8%;
        padding-bottom: 2.3%;
        margin: -0.9%;
        margin-right: 1%;
        position: absolute;
        top: 13%;
        right: 3%;
        line-height: 3.em;
        color: #4B0082;
        font-size: 75%;

    }

    .header_aside {
        width: 23%;
        height: 8%;
        background-color: #FFE4E1;
        border: 1px solid #FF00FF;
        border-radius: 10px;
        text-align: center;
    }

.header_aside .fontel {
      background-image: url("phone.png");background-repeat: no-repeat;
      width:15px; 
      height: 15px;display: inline-block;
      padding-right: 125px;
         }
.header_aside > .one{
    position: absolute;
   top:20px; left:25%;padding-right: 15%;
  padding-bottom: 150%;
  
}
 .header_aside .fonenv{
     background-image: url("envelope.png");background-repeat: no-repeat;
      width:15px;
      height: 15px;display: inline-block;
      padding-right: 5%;
 } 
  .header_aside > .two{
  position:absolute;
  top:50%; left:15%;
  
  
  
}
    .header_aside>div:nth-of-type(1) {
        position: absolute;
        top: 4%;
        left: 15%;

    }
    .header_aside>div:nth-of-type(2) {
        position: absolute;
        top: 50%;
        left: 15%;

    }
    h2 {
        text-align: center;
        font-size: large;
        color: #4169E1;
        font-family: fantasy;
        padding: 2%;

    }
    .article {
        width: 100%;
        height: auto;
        text-align: left;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 1%;
    }
    .img {
        width: 140px;
        border-radius: 25px;
        padding-right: 1.5%;
    }
    .article p {
        width: 100%;
        padding: 2% 2% 2% -2%;
    }
    .article h3 {
        text-align: center;
        color: #8b4513;
        padding: 1%;
        font-size: medium;
        text-shadow: 0px 2px 3px #ffa07a;
    }

    .article__two {
        float: left;
        text-align: left;
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;

    }
    .article__three h4 {
        text-align: center;
        color: rgba(75, 0, 180, .9);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6);
    }
    .article__three {
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
    }

    .article__three-div>p:nth-of-type(n+1):nth-of-type(-n+14)::first-letter {
        text-transform: uppercase;
        color: red;
    }
    .footer {

        width: 98%;
        display: none;
        height: 10%;
        float: left;
        margin-top: 0%;
    }
    .footer>div:nth-of-type(1) {
        margin-left: 14%;
        margin-top: 0%;
    }
    .footer>div:nth-of-type(2) {
        margin-left: 44%;
        margin-top: -11%;

    }
    .footer>div:nth-of-type(3) {
        margin-left: 76%;
        margin-top: -8%;
    }

    .article__two,
    .article__four,
    .article__five {
        height: 0;
        display: none;
    }
}

@media screen and (min-width: 750px) and (max-width:900px) {
    html {
        background: #c0c0c0;
    }


    .header {
        background-image: linear-gradient(35deg, #ee82ee 20%, #b8bfd8 40%, #AFEEEE 60%, #A9A9A9, #708090);
        border: 3px solid #8b008b;
        box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
        border-radius: 15px;
        width: 96%;
        height: 10%;
        margin-top: 4%;
        margin-left: 0.3%;
        margin-right: 2%;
        padding: 2%;
        position: relative;
    }
    div>h1 {
        position: absolute;
        top: 40%;
        left: 26%;
        font-size: 115%;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        letter-spacing: .5em;
        word-spacing: 2px;
        color: #191970;
        text-shadow: 2px 2px 1px white;
        transition: all 1s ease-in-out;
        text-align: center;
        transform: skewY(-12deg);
    }
    .header>.header_aside {
        width: 22%;
        height: 62%;
        background-color: #FFD6E9;
        border: 1px solid #EE82EE;
        border-radius: 10px;
        padding: 1.5%;
        padding-top: 0.8%;
        padding-bottom: 2.3%;
        margin: -0.9%;
        margin-right: 1%;
        position: absolute;
        top: 13%;
        right: 3%;
        line-height: 3.3em;
        color: #4B0082;
        font-size: 95%;

    }

    .header_aside {
        width: 23%;
        height: 8%;
        background-color: #FFE4E1;
        border: 1px solid #FF00FF;
        border-radius: 10px;
        text-align: center;
    }

 div > .header_aside {
      font-size: 0.9em;
    }
    
    .header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }
.header_aside > div:nth-of-type(1){
  position:absolute;
  top:10%; left:30%;
  
}
  .header_aside .fonenv{
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
  
  .header_aside > div:nth-of-type(2){
  position:absolute;
  top:50%; left:30%;
  
  
  
}
    .header_aside>div:nth-of-type(1) {
        position: absolute;
        top: 10%;
        left: 15%;

    }
    .header_aside>div:nth-of-type(2) {
        position: absolute;
        top: 50%;
        left: 15%;

    }
    h2 {
        text-align: center;
        font-size: 150%;
        color: #4169E1;
        font-family: sans-serif;
        padding: 2% 2% 0% 1%;

    }
    .article {
        width: 46%;
        height: auto;
        float: left;
        text-align: left;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;
    }
    .img {
        width: 140px;
        border-radius: 25px;
        padding-right: 1.5%;
    }
    .article h3 {
        text-align: center;
        color: #8b4513;
        padding: 1%;
        font-size: medium;
        text-shadow: 0px 2px 3px #ffa07a;
    }
    .article__three h4 {
        text-align: center;
        color: rgba(75, 0, 180, .9);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6);
    }
    .article__three {
        width: 46%;
        position: absolute;
        left: 50%;
        top: 40%;
        margin: 2%;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
    }
    .article__three-div>p:nth-of-type(n+1):nth-of-type(-n+14)::first-letter {
        text-transform: uppercase;
        color: red;
    }
    .article__two {
        width: 46%;
        height: auto;
        position: absolute;
        top: 245%;
        left: 50%;
        text-align: center;
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;

    }
    .article__two h4 {
        text-align: center;
        color: rgba(67, 153, 97, .5);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6)
    }

    .article__four {
        width: 46%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 361.5%;
        margin: 1%;
        line-height: 1.82em;
    }
    .article__four h4 {
        text-align: center;
        color: #8b0000;
        padding: 1%;
    }
    .article__four-div>p:nth-of-type(n+1):nth-of-type(-n+15)::first-letter {
        text-transform: uppercase;
        color: red;
    }

    .article__five {
        width: 46%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 230%;
        margin: 1%;
        line-height: 1.74em;
    }
    .article__five h4 {
        text-align: center;
        color: #a52a2a;
        padding: 1%;
    }
    .footer {
        width: 98%;
        height: 10%;
        position: absolute;
        top: 450%;
        margin-left: 1%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(1) {
        margin-left: 14%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(2) {
        margin-left: 44%;
        margin-top: -7%;

    }
    .footer>div:nth-of-type(3) {
        margin-left: 76%;
        margin-top: -5.5%;

    }
}

@media screen and (min-width:900px) and (max-width:1024px) {
    html {
        background: #c0c0c0;
    }

    .header {
        background-image: linear-gradient(35deg, #ee82ee 20%, #b8bfd8 40%, #AFEEEE 60%, #A9A9A9, #708090);
        border: 3px solid #8b008b;
        box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
        border-radius: 15px;
        width: 96%;
        height: 10%;
        margin-top: 4%;
        margin-left: 0.3%;
        margin-right: 2%;
        padding: 2%;
        position: relative;
    }
    div>h1 {
        position: absolute;
        top: 40%;
        left: 26%;
        font-size: 115%;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        letter-spacing: .7em;
        word-spacing: 2px;
        color: #191970;
        text-shadow: 2px 2px 1px white;
        transition: all 1s ease-in-out;
        text-align: center;
        transform: skewY(-12deg);
    }
    .header>.header_aside {
        width: 22%;
        height: 62%;
        background-color: #FFD6E9;
        border: 1px solid #EE82EE;
        border-radius: 10px;
        padding: 1.5%;
        padding-top: 0.8%;
        padding-bottom: 2.3%;
        margin: -0.9%;
        margin-right: 1%;
        position: absolute;
        top: 13%;
        right: 3%;
        line-height: 3.3em;
        color: #4B0082;
        font-size: 95%;

    }

    .header_aside {
        width: 23%;
        height: 8%;
        background-color: #FFE4E1;
        border: 1px solid #FF00FF;
        border-radius: 10px;
        text-align: center;
    }
 div > .header_aside {
      font-size: 0.9em;
    }
    
    .header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }
.header_aside > div:nth-of-type(1){
  position:absolute;
  top:10%; left:30%;
  
}
  .header_aside .fonenv{
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
  
  .header_aside > div:nth-of-type(2){
  position:absolute;
  top:50%; left:30%;
  
  
  
}
    .header_aside>div:nth-of-type(1) {
        position: absolute;
        top: 10%;
        left: 15%;

    }
    .header_aside>div:nth-of-type(2) {
        position: absolute;
        top: 50%;
        left: 15%;

    }
    h2 {
        text-align: center;
        font-size: 150%;
        color: #4169E1;
        font-family: fantasy;
        padding: 2% 2% 0% 1%;

    }
    .article {
        width: 46%;
        height: auto;
        float: left;
        text-align: left;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;
    }
    .img {
        width: 140px;
        border-radius: 25px;
        padding-right: 1.5%;
    }
    .article h3 {
        text-align: center;
        color: #8b4513;
        padding: 1%;
        font-size: medium;
        text-shadow: 0px 2px 3px #ffa07a;
    }
    .article__three h4 {
        text-align: center;
        color: rgba(75, 0, 180, .9);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6);
    }
    .article__three {
        width: 46%;
        position: absolute;
        left: 50%;
        top: 52%;
        margin: 2%;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
    }
    .article__three-div>p:nth-of-type(n+1):nth-of-type(-n+14)::first-letter {
        text-transform: uppercase;
        color: red;
    }
    .article__two {
        width: 46%;
        height: auto;
        position: absolute;
        top: 245%;
        left: 50%;
        text-align: center;
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;

    }
    .article__two h4 {
        text-align: center;
        color: rgba(67, 153, 97, .5);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6)
    }

    .article__four {
        width: 46%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 361.5%;
        margin: 1%;
        line-height: 1.82em;
    }
    .article__four h4 {
        text-align: center;
        color: #8b0000;
        padding: 1%;
    }
    .article__four-div>p:nth-of-type(n+1):nth-of-type(-n+15)::first-letter {
        text-transform: uppercase;
        color: red;
    }

    .article__five {
        width: 46%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 230%;
        margin: 1%;
        line-height: 1.74em;
    }
    .article__five h4 {
        text-align: center;
        color: #a52a2a;
        padding: 1%;
    }
    .footer {
        width: 98%;
        height: 10%;
        position: absolute;
        top: 450%;
        margin-left: 1%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(1) {
        margin-left: 14%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(2) {
        margin-left: 44%;
        margin-top: -7%;

    }
    .footer>div:nth-of-type(3) {
        margin-left: 76%;
        margin-top: -5.5%;

    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    html {
        background: #c0c0c0;
    }


    .header {
        background-image: linear-gradient(35deg, #ee82ee 20%, #b8bfd8 40%, #AFEEEE 60%, #A9A9A9, #708090);
        border: 3px solid #8b008b;
        box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
        border-radius: 15px;
        width: 96%;
        height: 10%;
        margin-top: 4%;
        margin-left: 0.3%;
        margin-right: 2%;
        padding: 2%;
        position: relative;
    }
    div>h1 {
        position: absolute;
        top: 40%;
        left: 26%;
        font-size: 115%;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        letter-spacing: .7em;
        word-spacing: 2px;
        color: #191970;
        text-shadow: 2px 2px 1px white;
        transition: all 1s ease-in-out;
        text-align: center;
        transform: skewY(-12deg);
    }
    .header>.header_aside {
        width: 22%;
        height: 62%;
        background-color: #FFD6E9;
        border: 1px solid #EE82EE;
        border-radius: 10px;
        padding: 1.5%;
        padding-top: 0.8%;
        padding-bottom: 2.3%;
        margin: -0.9%;
        margin-right: 1%;
        position: absolute;
        top: 13%;
        right: 3%;
        line-height: 3.3em;
        color: #4B0082;
        font-size: 105%;

    }

    .header_aside {
        width: 23%;
        height: 8%;
        background-color: #FFE4E1;
        border: 1px solid #FF00FF;
        border-radius: 10px;
        text-align: center;
    }

  .header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }
 div > .header_aside {
      font-size: 0.9em;
    }
.header_aside > div:nth-of-type(1){
  position:absolute;
  top:10%; left:30%;
  
}

.header_aside .fonenv{
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
  .header_aside > div:nth-of-type(2){
  position:absolute;
  top:50%; left:30%;
  
  
  
}
    .header_aside>div:nth-of-type(1) {
        position: absolute;
        top: 10%;
        left: 15%;

    }
    .header_aside>div:nth-of-type(2) {
        position: absolute;
        top: 50%;
        left: 15%;

    }
    h2 {
        text-align: center;
        font-size: 150%;
        color: #4169E1;
        font-family: sans-serif;
        padding: 2% 2% 0% 1%;

    }
    .article {
        width: 46%;
        height: auto;
        float: left;
        text-align: left;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;
    }
    .img {
        width: 140px;
        border-radius: 25px;
        padding-right: 1.5%;
    }
    .article h3 {
        text-align: center;
        color: #8b4513;
        padding: 1%;
        font-size: medium;
        text-shadow: 0px 2px 3px #ffa07a;
    }
    .article__three h4 {
        text-align: center;
        color: rgba(75, 0, 180, .9);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6);
    }
    .article__three {
        width: 46%;
        position: absolute;
        left: 50%;
        top: 46%;
        margin: 2%;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        line-height: 1.4em;
    }
    .article__three-div>p:nth-of-type(n+1):nth-of-type(-n+14)::first-letter {
        text-transform: uppercase;
        color: red;
    }
    .article__two {
        width: 46%;
        height: auto;
        position: absolute;
        top: 225%;
        left: 50%;
        text-align: center;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;

    }
    .article__two h4 {
        text-align: center;
        color: rgba(67, 153, 97, .5);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6)
    }

    .article__four {
        width: 46%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 291%;
        margin: 1%;
        line-height: 1.82em;
    }
    .article__four h4 {
        text-align: center;
        color: #8b0000;
        padding: 1%;
    }
    .article__four-div>p:nth-of-type(n+1):nth-of-type(-n+15)::first-letter {
        text-transform: uppercase;
        color: red;
    }

    .article__five {
        width: 46%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 178%;
        margin: 2%;
        line-height: 1.74em;
    }
    .article__five h4 {
        text-align: center;
        color: #a52a2a;
        padding: 1%;
    }
    .footer {
        width: 98%;
        height: 10%;
        position: absolute;
        top: 370%;
        margin-left: 1%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(1) {
        margin-left: 14%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(2) {
        margin-left: 44%;
        margin-top: -5%;

    }
    .footer>div:nth-of-type(3) {
        margin-left: 76%;
        margin-top: -3%;

    }
}

@media screen and (min-width: 1200px) {
    html {
        background-color: #c0c0c0;
    }


    .header {
        background-image: linear-gradient(35deg, #ee82ee 20%, #b8bfd8 40%, #AFEEEE 60%, #A9A9A9, #708090);
        border: 3px solid #8b008b;
        box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
        border-radius: 15px;
        width: 98%;
        height: 10%;
        margin-top: 4%;
        margin-left: 0.3%;
        margin-right: 2%;
        padding: 2%;
        position: relative;
    }
    div>h1 {
        position: absolute;
        top: 40%;
        left: 26%;
        font-size: 115%;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        letter-spacing: 1.5em;
        word-spacing: 2px;
        color: #191970;
        text-shadow: 2px 2px 1px white;
        transition: all 1s ease-in-out;
        text-align: center;
        transform: skewY(-12deg);
    }
    .header>.header_aside {
        width: 22%;
        height: 62%;
        background-color: #FFD6E9;
        border: 1px solid #EE82EE;
        border-radius: 10px;
        padding: 1.5%;
        padding-top: 0.8%;
        padding-bottom: 2.3%;
        margin: -0.9%;
        margin-right: 1%;
        position: absolute;
        top: 13%;
        right: 3%;
        line-height: 3.3em;
        color: #4B0082;
        font-size: 105%;

    }

    .header_aside {
        width: 23%;
        height: 8%;
        background-color: #FFE4E1;
        border: 1px solid #FF00FF;
        border-radius: 10px;
        text-align: center;
    }

.header_aside .fontel {
      background-image: url("phone.png");
      width:15px;
      height: 15px;display: inline-block;
         }
 div > .header_aside {
      font-size: 1.9em;
    }
    
.header_aside > div:nth-of-type(1){
  position:absolute;
  top:10%; left:30%;
  
}

.header_aside .fonenv{
     background-image: url("envelope.png");
      width:15px;
      height: 15px;display: inline-block;
 } 
  .header_aside > div:nth-of-type(2){
  position:absolute;
  top:50%; left:30%;
  
  
  
}
    .header_aside>div:nth-of-type(1) {
        position: absolute;
        top: 10%;
        left: 15%;

    }
    .header_aside>div:nth-of-type(2) {
        position: absolute;
        top: 50%;
        left: 15%;

    }
    h2 {
        text-align: center;
        font-size: 150%;
        color: #4169E1;
        padding: 2% 2% 0% 1%;
        letter-spacing: 1em;
        text-shadow: 2px 2px 2px #87CEFA;
        font-family: sans-serif;

    }
    .article {
        width: 44%;
        height: auto;
        float: left;
        text-align: left;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;
    }
    .img {
        width: 140px;
        border-radius: 25px;
        padding-right: 1.5%;
    }
    .article h3 {
        text-align: center;
        color: #8b4513;
        padding: 1%;
        font-size: medium;
        text-shadow: 0px 2px 3px #ffa07a;
    }
    .article__three h4 {
        text-align: center;
        color: rgba(75, 0, 180, .9);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6);
    }
    .article__three {
        width: 44%;
        position: absolute;
        left: 50%;
        top: 40%;
        margin: 2%;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
    }
    .article__three-div>p:nth-of-type(n+1):nth-of-type(-n+14)::first-letter {
        text-transform: uppercase;
        color: red;
    }
    .article__two {
        width: 46%;
        height: auto;
        position: absolute;
        top: 142%;
        left: 50%;
        text-align: center;
        line-height: 1.5em;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1%;
        margin: 2%;

    }
    .article__two h4 {
        text-align: center;
        color: rgba(67, 153, 97, .5);
        padding: 1%;
        text-shadow: -2px 4px 0 rgba(236, 144, 79, 0.6)
    }

    .article__four {
        width: 44%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 125%;
        margin: 2%;
        line-height: 1.4em;
    }
    .article__four h4 {
        text-align: center;
        color: #8b0000;
        padding: 1%;
    }
    .article__five {
        width: 44%;
        position: absolute;
        background-image: linear-gradient(to top left, #b8dfd8, #FFC0CB, #708090);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        padding: 1.5%;
        top: 190%;
        margin: 2%;
        line-height: 1.74em;
    }
    .article__five h4 {
        text-align: center;
        color: #a52a2a;
        padding: 1%;
    }
    .article__five-words>p:nth-of-type(n+1):nth-of-type(-n+4)::first-line {
        color: red;
    }
    .footer {
        width: 98%;
        height: 10%;
        position: absolute;
        top: 250%;
        margin-left: 1%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(1) {
        margin-left: 14%;
        margin-top: 5%;
    }
    .footer>div:nth-of-type(2) {
        margin-left: 44%;
        margin-top: -4%;

    }
    .footer>div:nth-of-type(3) {
        margin-left: 76%;
        margin-top: -3%;

    }
}
