*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
     
     #interest {
        text-align: center;
        font-size: 250%;
        color: #4169E1;
        font-family: sans-serif;
        padding: 20% 2% 0% 1%;
        text-shadow: 4px 2px 2px #2663c6;
    }
    
    .row_article_article {
        width: 100%;
        height: auto;
        float: left;
        padding: 0.5%;
        top:1%;
        line-height: 1.3em;
    }
    .img {
        width: 140px;
        background-color: #FAEBD7;
        opacity: .5;
        border-radius: 25px;
        padding-right: 0.5%;
    }
    
     @-webkit-keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}
  
     .img:hover{
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 3s;
animation-name: fadeIn;
animation-duration: 3s;
}
.row_article_article h3{
    text-align: center;
    color: darkblue;
   text-shadow: 4px 2px 2px #7B68EE;
   font-size: x-large;
}
.article__one{
    float: left;
        width: 100%;
         margin:0 auto;
        background-image:-webkit-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:-o-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:linear-gradient(45deg, #D8BFD8, #FFF5EE);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        color: #4682B4;
         padding: 1%;
       

    
}
p::first-letter{
    color:violet;
    font-family: fantasy;
    font-size: X-large;
}
     .article_two-div {float: left;
        width: 100%;
        background-image:-webkit-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:-o-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:linear-gradient(45deg, #D8BFD8, #FFF5EE);
        border: 2px solid #7b68ee;
        border-bottom: 2px dotted #7b68ee;
        border-radius: 15px;
        color: #4682B4;
        padding: 1%;
        margin:0 auto;

    }
    .article_two-div h3 {
        text-align: center;
        color: darkblue;
        padding: 1%;
        font-size:larger;
        margin-top: 1%;
        text-shadow: 0px 2px 3px #9370DB;
    }
    .article__three-div {
        width: 100%;
        margin:0 auto;
        background-image:-webkit-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:-o-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:linear-gradient(45deg, #D8BFD8, #FFF5EE);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        color: #4682B4;
        padding: 1.5%;
        line-height: 1em;
    }
   
    .article__three-div > h3 {
        text-align: center;
        color: darkblue;
        padding: 2%;
        padding-top: 5%;
        margin-top: 1%;
        text-shadow: -2px 4px 0px 2px #483D8B;
    }
    
    .row_article__three-div>p:nth-of-type(n+1):nth-of-type(-n+14)::first-letter {
        text-transform: uppercase;
        color: red;
    }
   
    .row_article__two h3 {
        text-align: center;
        color: #1E90FF;
        padding: 1%;
        text-shadow: -2px 4px 0  #483D8B;
    }

    .row_article__four {position: relative;
        
    }
    
    .article__four-div{
    float: left;
        width: 28%;
        background-image:-webkit-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:-o-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:linear-gradient(45deg, #D8BFD8, #FFF5EE);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        color: #4682B4;
        padding: 1.5%;
        line-height: 1em;
         margin:0 auto;
        margin-top: 2%;
    }
    .article__four-div h3{
        text-align: center;
        color:#8B008B;
        padding: 1%;
    }
    .article__four-div>p:nth-of-type(n+1):nth-of-type(-n+15)::first-letter {
        text-transform: uppercase;
        color:#800080;
    }

    .row_article__five {
        float:right; 
        width: 70%;
        background-image:-webkit-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:-o-linear-gradient(45deg, #D8BFD8, #FFF5EE);
        background-image:linear-gradient(45deg, #D8BFD8, #FFF5EE);
        border: 2px solid #7b68ee;
        border-radius: 15px;
        color: #4682B4;
        padding: 1%;
        line-height: 0.9em;
         margin:0 auto;
        margin-top: 2%;
    }
    .row_article__five p:nth-of-type(1),
    .row_article__five p:nth-of-type(2),
     .row_article__five p:nth-of-type(3),
     .row_article__five p:nth-of-type(4){
      color: #4B0082;  
    }
    
     
       .row_article__five h3 {
        text-align: center;
        color:#8B008B;
        padding: 1%;
    }
    .footer_phone{
        margin-top:-1%;
        
    }
    .footer_mail{
 margin-top:1%;
    }
@media screen and (min-width:1200px){
    .article__one{
        width: 100%;
        margin: 0 auto;
    }
   }
@media screen and (min-width:1024px)and (max-width:1200px) {
  .row_article__five {
     margin-bottom:5%;
   } 
}
@media screen and (min-width:741px) and (max-width:1024px) {
 .article__four-div,
 .row_article__five {
     margin-bottom:5%;
   }  
}
@media screen and (min-width: 600px) and (max-width:740px) {
     .article__four-div,
   .row_article__five {
       width: 100%;
       float: none;
       margin: 0 auto;
   }
   .row_article__five {
     margin-bottom:5%;
   } 
   .footer_mail{
 margin-top:2%;
 margin-right: -25%;
    }
   
}
@media screen and (min-width: 481px) and (max-width:599px) {
     .article__four-div,
   .row_article__five {
       width: 100%;
       float: none;
       margin: 0 auto;
   }
   .row_article__five {
     margin-bottom:5%;
   }

      .footer_mail{
 margin-top:2.5%;
 margin-right: -27%;
    }
}
@media screen and (max-width:480px) {
 .article__four-div,
   .row_article__five {
       width: 100%;
       float: none;
       margin: 0 auto;
   }
   .row_article__five {
     margin-bottom:5%;
   }

      .footer_mail{
 margin-top:2.5%;
 margin-right: -27%;
    }
}    