@media screen and (max-width: 340px){
   .main_container{
       max-width:340px;
   }
    #video {
        display: none;
    }
.mainNavi {
  margin: 5%;
  margin-top:8.5%;
  padding: 0;
  list-style: none;
  width: 40%;clear:both;
}
.mainNavi li:last-of-type a {
  border-bottom: 1px dashed #0000CD;
}
.mainNavi a {
  color: #8A2BE2;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px dashed #0000CD;
  border-bottom: none;
  font-weight:bold;
  padding: 7px 5px 7px 25px;
  display: block;
  background-color: #E7E7E7;
  }
.mainNavi a:hover {
  font-weight: bold;
  background-color: #B2F511;
  background-position: 3px 50%;
}

.mainAvi {
  margin: 5%;
  margin-top:10%;
  padding: 0;
  list-style: none;
  width: 47%;position:absolute;
  top:36%; left:45%;
}
.mainAvi a {
color: #8A2BE2;
font-size : 0.6em;
text-transform: uppercase;
text-decoration: none;
border: 1px dashed #0000CD; 
padding: 2px 2px;
display: block;
background-color: #E7E7E7;
background-image: url("https://deti-online.com/img/malenkaya-elza-color.jpg");
background-size:15%;padding:10px 15px 10px 45px;
background-repeat: no-repeat;
background-position: 0 2px;
}

.mainAvi ol { 
	padding-left: 1.4em;
	list-style: circle;
}
.mainNavi ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

} 
form {
 display:table;
 padding: 1%;
 border: thin dotted #8B4513;
 background-color: #e1ceb8;
 margin:2%;
 margin-top: 35%;
 border-radius:15px;
}

.tableRow{
    display: none;
    
}
form textarea {
 width: 80%;
 height: auto;
 margin:auto;
}
div.tableRow {
 display: table-row;
}
div.tableRow p {
 display: table-cell;
 vertical-align: top;
 padding: 1%;
 color:#A0522D;
}
div.tableRow p:first-child {
 text-align: right;
}
.ordeX{
    width: 100%;
    float: left;
    
}
.ordeX #ordeX{
    float: left;
    line-height: 1.2em;
    margin-top: 3%;
}
#ordeX{
width: 100%;
    color:#B80000;
    margin:auto;
    line-height:0.3em;
}

}
@media screen and (min-width: 341px)and  (max-width:480px){
    
.video {
   width: 100%;display: inline-block;
   text-align: center;display:none;
}

.video>iframe {
   width: 50%;
}
.mainNavi {
  margin: 5%;
  margin-top:8.5%;
  padding: 0;
  list-style: none;
  width: 40%;clear:both;
}
.mainNavi li:last-of-type a {
  border-bottom: 1px dashed #0000CD;
}
.mainNavi a {
  color: #8A2BE2;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px dashed #0000CD;
  border-bottom: none;
  font-weight:bold;
  padding: 7px 5px 7px 30px;
  display: block;
  background-color: #E7E7E7;
  }
.mainNavi a:hover {
  font-weight: bold;
  background-color: #B2F511;
  background-position: 3px 50%;
}

.mainAvi {
  margin: 5%;
  margin-top:25%;
  padding: 0;
  list-style: none;
  width: 47%;position:absolute;
  top:31%; left:45%;
}
.mainAvi a {
color: #8A2BE2;
font-size : 0.6em;
text-transform: uppercase;
text-decoration: none;
border: 1px dashed #0000CD; 
padding: 2px 2px;
display: block;
background-color: #E7E7E7;
background-image: url("https://deti-online.com/img/malenkaya-elza-color.jpg");
background-size:15%;padding:15px 15px 15px 15px;
background-repeat: no-repeat;
background-position: 0 2px;

}

.mainAvi ol { 
	padding-left: 1.4em;
	list-style: circle;
}
.mainNavi ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

} 
form {
 display:table;
 padding: 1%;
 border: thin dotted #8B4513;
 background-color: #e1ceb8;
 margin:2%;
 margin-top: 25%;
 border-radius:15px;
}

.tableRow{
    display: none;}
form textarea {
 width: 90%;
 height: auto;
}
div.tableRow {
 display: table-row;
}
div.tableRow p {
 display: table-cell;
 vertical-align: top;
 padding: 1%;
 color:#A0522D;
}
div.tableRow p:first-child {
 text-align: right;
}
p.heading {
 font-weight: bold;
 color:#FF7F50;
 
}

#ordeX{
    color:#B80000;
    margin:2%;
    margin-top: 5%;
    margin-bottom: -25%;
    font-size: 1.3em;
    line-height: 1.5em;
    padding-top: 2%;
}
#ordeX h2{
    margin-top: 1%;
    
}
.footer{
    float: left;
    margin-top: 0;
}
   }

 
    @media screen and (min-width: 480px) and (max-width:740px){
  

.video {
   width: 100%;display: inline-block;
   text-align: center;
}

.video>iframe {
   width: 80%;
   margin: 2%;
}
.mainNavi {
  margin: 5%;
  margin-top:8%;
  padding: 0;
  list-style: none;
  width: 40%;clear:both;
}

.mainNavi li:last-of-type a {
  border-bottom: 1px dashed #0000CD;
}
.mainNavi a {
  color: #8A2BE2;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px dashed #0000CD;
  border-bottom: none;
  font-weight:bold;
  padding: 7px 5px 7px 30px;
  display: block;
  background-color: #E7E7E7;
  }
.mainNavi a:hover {
  font-weight: bold;
  background-color: #B2F511;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}

.mainAvi {
   margin: 5%;
  margin-top: 48%;
  padding: 0;
  list-style: none;
  width: 47%;position:absolute;
  top:75%; left:45%;
}
.mainAvi a {
color: #8A2BE2;
font-size : 0.6em;
text-transform: uppercase;
text-decoration: none;
border: 1px dashed #0000CD; 
padding: 2px 2px;
display: block;text-align: center;
background-color: #E7E7E7;
background-image: url("https://deti-online.com/img/malenkaya-elza-color.jpg");
background-size:10%;padding:15px 15px 15px 15px;
background-repeat: no-repeat;
background-position: 0 2px;
}
.mainAvi a:hover {
    font-weight: bold;
  background-color: #6495ED;
  color: #FFF;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}
.mainAvi ol { 
	padding-left: 1.4em;
	list-style: circle;
}
.mainNavi ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

} 
form {
 display:table;
 padding: 1%;
 border: thin dotted #8B4513;
 background-color: #e1ceb8;
 margin:1%;
 border-radius:15px;
}

.tableRow{
    display: none;}
form textarea {
 width: 90%;
 height: auto;
}
div.tableRow {
 display: table-row;
}
div.tableRow p {
 display: table-cell;
 vertical-align: top;
 padding: 1%;
 color:#A0522D;
}
div.tableRow p:first-child {
 text-align: right;
}
p.heading {
 font-weight: bold;
 color:#FF7F50;;
}

#ordeX{
    color:#B80000;
    text-align: left;
    margin:2%;
    margin-top:10%;
    margin-bottom: 5%;
    font-size: 1.3em;
    line-height: 1.5em;
    padding-top: 1%;
}


}
@media screen and (min-width: 740px) and (max-width:1024px){
html{
    height: auto;
    background-size: cover;
}     
.video {
   width:100%;display: inline-block;
   text-align: center;height: auto;
}

.video>iframe {
   width: 80%;
   margin: 5%;
}
.mainNavi {
  margin: 5%;
  padding: 0;
  list-style: none;
  width: 40%;clear:both;
}

.mainNavi li:last-of-type a {
  border-bottom: 1px dashed #0000CD;
}
.mainNavi a {
  color: #8A2BE2;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px dashed #0000CD;
  border-bottom: none;
  font-weight:bold;
  padding: 10px 15px 10px 30px;
  display: block;
  background-color: #E7E7E7;
  }
.mainNavi a:hover {
  font-weight: bold;
  background-color: #B2F511;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}

.mainAvi{
     margin: 5%;
      margin-top:30%;
  padding: 0;
  list-style: none;
  width: 47%;position:absolute;
  top:90%; left:45%;
}
.mainAvi a {
color: #8A2BE2;
font-size : 0.6em;
text-transform: uppercase;
text-decoration: none;
border: 1px dashed #0000CD; 
padding: 2px 2px;
display: block;text-align: center;
background-color: #E7E7E7;
background-image: url("https://deti-online.com/img/malenkaya-elza-color.jpg");
background-size:10%;padding:15px 35px 15px 45px;
background-repeat: no-repeat;
background-position: 0 2px;
}
.mainAvi a:hover {
    font-weight: bold;
  background-color: #6495ED;
  color: #FFF;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}
.mainAvi ol { 
	padding-left: 1.4em;
	list-style: circle;
}
.mainNavi ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

} 
form {
 display:table;
 padding: 1%;
 border: thin dotted #8B4513;
 background-color: #e1ceb8;
 margin:1%;
 border-radius:15px;
}

.tableRow{
    display: none;
    
}
form textarea {
 width: 90%;
 height: auto;
}
div.tableRow {
 display: table-row;
}
div.tableRow p {
 display: table-cell;
 vertical-align: top;
 padding:0.3%;
 color:#A0522D;
}
div.tableRow p:first-child {
 text-align: right;
}
p.heading {
 font-weight: bold;
 color:#FF7F50;;
}

#ordeX{
    color:#B80000;
    margin:2%;
    margin-top:10%;
    line-height: 1.3em;
    text-align: center;
     font-size: 1.3em;
}
   

}
@media screen and (min-width: 1024px) and (max-width:1200px){
 
.video {
   width: 100%;display: inline-block;
   text-align: center;height: auto;
}

.video>iframe {
   width: 80%;
   margin: 5%;
}
.mainNavi {
  margin: 5%;
  margin-top:0%;
  padding: 0;
  list-style: none;
  width: 40%;clear:both;
}

.mainNavi li:last-of-type a {
  border-bottom: 1px dashed #0000CD;
}
.mainNavi a {
  color: #8A2BE2;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px dashed #0000CD;
  border-bottom: none;
  font-weight:bold;
  padding: 7px 5px 7px 30px;
  display: block;
  background-color: #E7E7E7;
  }
.mainNavi a:hover {
  font-weight: bold;
  background-color: #B2F511;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}

.mainAvi {
  margin: 5%;
  margin-top:35%;
  padding: 0;
  list-style: none;
  width: 47%;position:absolute;
  top:85%; left:45%;
}
.mainAvi a {
color: #8A2BE2;
font-size : 0.6em;
text-transform: uppercase;
text-decoration: none;
border: 1px dashed #0000CD; 
padding: 2px 2px;
display: block; text-align: center;
background-color: #E7E7E7;
background-image: url("https://deti-online.com/img/malenkaya-elza-color.jpg");
background-size:10%;padding:15px 35px 15px 45px;
background-repeat: no-repeat;
background-position: 0 2px;
}
.mainAvi a:hover {
    font-weight: bold;
  background-color: #6495ED;
  color: #FFF;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}
.mainAvi ol { 
	padding-left: 1.4em;
	list-style: circle;
}
.mainNavi ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

} 
form {
 display:table;
 padding:0.5%;
 border: thin dotted #8B4513;
 background-color: #e1ceb8;
 margin:1%;
 border-radius:15px;
}

.tableRow{
    display: none;}
form textarea {
 width: 90%;
 height: auto;
}
div.tableRow {
 display: table-row;
}
div.tableRow p {
 display: table-cell;
 vertical-align: top;
 padding:0.5%;
 color:#A0522D;
}
div.tableRow p:first-child {
 text-align: right;
}
p.heading {
 font-weight: bold;
 color:#FF7F50;;
}

#ordeX{
    color:#B80000;
    margin:2%;
    margin-top:10%;
     font-size: 1.3em;
    line-height: 1.6em;
    text-align: center;
}

}

@media screen and (min-width: 1200px){
   
  .video {
   width: 100%;display: inline-block;
   text-align: center;height: auto;
}

.video>iframe {
   width: 70%;
   margin: 5%;
}
.mainNavi {
  margin: 5%;
  margin-top:3%;
  padding: 0;
  list-style: none;
  width: 40%;clear:both;
}

.mainNavi li:last-of-type a {
  border-bottom: 1px dashed #0000CD;
}
.mainNavi a {
  color: #8A2BE2;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px dashed #0000CD;
  border-bottom: none;
  font-weight:bold;
  padding: 7px 5px 7px 30px;
  display: block;
  background-color: #E7E7E7;
  }
.mainNavi a:hover {
  font-weight: bold;
  background-color: #B2F511;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}

.mainAvi {
  margin: 1%;
  margin-top: 25%;
  padding: 0;
  list-style: none;
  width: 47%;position:absolute;
  top:105%; left:45%;
}
.mainAvi a {
color: #8A2BE2;
font-size : 0.6em;
text-transform: uppercase;
text-decoration: none;
text-align: center;
border: 1px dashed #0000CD; 
padding: 2px 2px;
display: block;
background-color: #E7E7E7;
background-image: url("https://deti-online.com/img/malenkaya-elza-color.jpg");
background-size:5%;padding:15px 35px 15px 45px;
background-repeat: no-repeat;
background-position: 0 2px;
}
.mainAvi a:hover {
    font-weight: bold;
  background-color: #6495ED;
  color: #FFF;
  background-position: 3px 50%;
   -webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);

}
.mainAvi ol { 
	padding-left: 1.4em;
	list-style: circle;
}
.mainNavi ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

} 
form {
 display:table;
 padding: 1%;
 border: thin dotted #8B4513;
 background-color: #e1ceb8;
 margin:1%;
 border-radius:15px;
}

.tableRow{
    display: none;}
form textarea {
 width: 90%;
 height: auto;
}
div.tableRow {
 display: table-row;
}
div.tableRow p {
 display: table-cell;
 vertical-align: top;
 padding: 1%;
 color:#A0522D;
}
div.tableRow p:first-child {
 text-align: right;
}
p.heading {
 font-weight: bold;
 color:#FF7F50;;
}

#ordeX{
    text-align: left;
    color:#B80000;
    margin:2%;
    margin-left: 30%;
    margin-top:5%;
    font-size: 1.3em;
    line-height: 1.3em;
    word-spacing: 0.9em;
}

}